<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>
    <title>Document</title>
    <style>
        .current{
            color: orange;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- 插槽内容 -->
        <fruit-list :list='list'>
            <template slot-scope='slotProps'>
                <strong v-if='slotProps.info.id==2' class="current">{{slotProps.info.name}}</strong>
                <span v-else>{{slotProps.info.name}}</span>
            </template>
        </fruit-list>
    </div>
    <script>
        // 作用域插槽
        Vue.component('fruit-list',{
            props:['list'],
            //插槽定义
            template:`
            <div>
                <li :key='item.id' v-for='item in list'>
                    <slot :info='item'>{{item.name}}</slot>
                </li>
             </div>
         `
        });
        var vm = new Vue({
            el:'#app',
            data:{
                list:[{
                    id:1,
                    name:'apple'
                },
                {
                    id:2,
                    name:'orange'
                },
                {
                    id:3,
                    name:'banana'
                }]
            }
        })
    </script>
</body>
</html>